* {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html {
  font-size: 62.5%;
}
/* body {
  background-image: url(/src/images/stacked-waves-haikei-os.svg);
  background-size: cover;
  background-repeat: repeat;
} */

/* Colors */
:root {
  /* Black */
  --black-0: #000000;
  --black-1: #262626;
  /* White */
  --white-0: #ffffff;
  --white-1: #f2f2f2;
  --white-2: #eceaea;
  /* Blue */
  --blue-0: #0008c1;
  --blue-1: #54bab9;
  --blue-2: #9ed2c6;
  --blue-3: #2146c7;
  /* Red */
  --red-1: #f65a83;
  /* Yellow */
  --yellow-1: #dcdc31;
}

/* Dark Mode Colors */
.dark {
  color: #ffffff;
  --black-0: #ffffff;
  --black-1: #f2f2f2;
  --white-0: #000000;
  --white-1: #3b3b3b;
  --white-2: #5e5c5c;
  --blue-0: #b8e8fc;
  --blue-3: #cdfcf6;
}

.container {
  display: flex;
  padding: 2rem 3rem;
}

/* Navbar */
.dark-mode {
  position: fixed;
  right: 0;
  padding-top: 1rem;
  padding-right: 1rem;
}
.dark-mode-icon {
  fill: var(--black-0);
  width: 2.4rem;
  height: 2.4rem;
  cursor: pointer;
}
.dark-mode button {
  border: none;
  background: none;
}
.navbar {
  padding: 0;
  align-items: center;
  background-color: var(--white-1);
  box-shadow: 0px 3px 9px var(--black-0);
}
.nav-logo {
  padding: 1.2rem;
}
.nav-logo-item {
  width: 8rem;
  height: 8rem;
}
.nav-title {
  font-size: 2.4rem;
  font-weight: bold;
}
.nav-menu {
  font-size: 2.4rem;
  font-weight: bold;
  flex-grow: 1;
  text-align: center;
}
.nav-icons {
  display: flex;
  gap: 1.4rem;
  padding-right: 2rem;
}
.nav-icons svg {
  fill: var(--black-0);
  width: 2.4rem;
  height: 2.4rem;
}
/* Home */
.home {
  justify-content: space-between;
  align-items: center;
}
.home p {
  font-size: 1.6rem;
}
.home input {
  border: none;
  border-radius: 15px;
  outline: none;
  font-size: 2.4rem;
  padding: 10px;
  margin-right: 2rem;
  background-color: var(--blue-2);
  flex-grow: 1;
}
.home input::placeholder {
  color: #4f4a4a;
}
.home input::selection {
  background-color: #f2f2f2;
}
.excel {
  padding-bottom: 0;
}
.download-table-xls-button {
  color: black;
  font-size: 1.4rem;
  padding: 10px 10px;
  border: 0px black solid;
  border-radius: 30px;
  background-color: var(--yellow-1);
  cursor: pointer;
  width: auto;
}
.download-table-xls-button:hover {
  background-color: var(--blue-2);
}
.filters {
  padding-bottom: 0;
}
.btn-month {
  color: var(--black-0);
  font-size: 1.4rem;
  padding: 4px 15px;
  border: 1px var(--black-1) solid;
  border-radius: 6px;
  background-color: var(--white-2);
  box-shadow: 0 2px 0 rgb(0 0 0 / 3%);
  cursor: pointer;
  width: 125px;
  transition: all 0.3s;
}
.btn-month:hover {
  color: var(--blue-0);
  border: 1px var(--blue-0) solid;
}
.loader {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* Total */
.total {
  justify-content: center;
  font-size: 1.8rem;
  padding-top: 0;
  padding-bottom: 0;
}
.total strong {
  color: red;
}
/* Transactions */
.transactions {
  font-size: 1.2rem;
  overflow-x: auto;
}
.tx-table {
  width: 100%;
  border-collapse: collapse;
}
.tx-table th {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: var(--blue-1);
}
.tx-table td,
.tx-table th {
  border: 1px solid #808080;
  padding: 8px;
}
.tx-table tr:nth-child(even) {
  background-color: var(--white-1);
}
.transaction td {
  font-size: 1.1rem;
}
.time {
  text-align: center;
}
.hash a {
  color: var(--blue-0);
}
.hash a:hover {
  text-decoration: none;
  color: var(--blue-3);
}
tfoot td {
  background-color: var(--red-1);
  font-weight: bold;
}

/* Media Queries */
@media (max-width: 480px) {
  .container {
    padding: 1rem 1rem;
  }
  .navbar {
    padding: 0;
  }
  .nav-menu {
    font-size: 2rem;
  }
  .nav-logo-item {
    width: 6rem;
    height: 6rem;
  }
  .nav-icons {
    gap: 1.2rem;
    padding-right: 1.4rem;
    padding-left: 1.4rem;
  }
  .nav-icons svg {
    width: 1.6rem;
    height: 1.6rem;
  }
  .total {
    padding-top: 0;
    padding-bottom: 0;
  }
  .dark-mode-icon {
    width: 1.6rem;
    height: 1.6rem;
  }
  /* Main */
  .home p {
    font-size: 1.2rem;
  }
  .total {
    font-size: 1.2rem;
  }
}

@media (max-width: 655px) {
  /* Home */
  .home input {
    font-size: 1.4rem;
    margin-right: 1rem;
    padding: 8px;
  }
  .download-table-xls-button {
    font-size: 1rem;
    padding: 5px;
  }
  .btn-month {
    font-size: 1rem;
    width: 85px;
    padding: 4px 10px;
  }
}
@media (max-width: 655px) and (min-width: 480px) {
  .container {
    padding: 1rem 1.5rem;
  }
}
