* {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
}

html {
  font-size: 62.5%;
}
body {
  background-color: var(--white-0);
}

/* Colors */
:root {
  /* Black */
  --black-0: #000000;
  /* White */
  --white-0: #FFFFFF;
  --white-1: #F2F2F2;
  --white-2: #DDDDDD;
  /* Blue */
  --blue-0: #0008C1;
  --blue-1: #54BAB9;
  --blue-2: #9ED2C6;
  --blue-3: #2146C7;
  /* Red */
  --red-1: #F65A83;
  /* Yellow */
  --yellow-1: #dcdc31;
}

/* Dark Mode Colors */
.dark {
  color: #FFFFFF;
  --black-0: #FFFFFF;
  --white-0: #000000;
  --white-1: #3b3b3b;
  --blue-0: #B8E8FC;
  --blue-3: #CDFCF6;
}

.container {
  display: flex;
  padding: 2rem 3rem;
}

/* Navbar */
.dark-mode {
  position: fixed;
  right: 0;
  padding-top: 1rem;
  padding-right: 1rem;
}
.dark-mode-icon {
  fill: var(--black-0);
  width: 2.4rem;
  height: 2.4rem;
  cursor: pointer;
}
.dark-mode button {
  border: none;
  background: none;
}
.navbar {
  padding: 0;
  align-items: center;
  background-color: var(--white-1);
  box-shadow: 0px 3px 9px var(--black-0);
}
.nav-logo{
  padding: 1.2rem;
}
.nav-logo-item {
  width: 8rem;
  height: 8rem;
}
.nav-title {
  font-size: 2.4rem;
  font-weight: bold;
}
.nav-menu{
  font-size: 2.4rem;
  font-weight: bold;
  flex-grow: 1;
  text-align: center;
}
.nav-icons{
  display: flex;
  gap: 1.4rem;
  padding-right: 2rem;
}
.nav-icons svg {
  fill: var(--black-0);
  width: 2.4rem;
  height: 2.4rem;
}
/* Home */
.home {
  justify-content: space-between;
  align-items: center;
}
.home p {
  font-size: 2vw;
}
.home input {
  border: none;
  border-radius: 2rem;
  outline: none;
  font-size: 2vw;
  padding: 1rem;
  margin-right: 2rem;
  background-color: var(--blue-2);
  flex-grow: 1;
}
.home input::placeholder {
  color: #4f4a4a;
}
.home input::selection {
  background-color: #F2F2F2;
}
.excel {
  padding: 0 3rem;
}
.download-table-xls-button {
  color: black;
  font-size: 1.25vw;
  padding: 1vw 1vw;
  border: 0px black solid;
  border-radius: 30px;
  background-color: var(--yellow-1);
  cursor: pointer;
  width: auto;
}
.download-table-xls-button:hover {
  background-color: var(--blue-2);
}
/* Total */
.total {
  justify-content: center;
  font-size: 2vw;
  padding-top: 0;
  padding-bottom: 0;
}
.total strong {
  color: red;
}
/* Transactions */
.transactions {
  font-size: 1.5vw;
  overflow-x:auto;
}
.tx-table {
  width: 100%;
  border-collapse: collapse;
}
.tx-table th {
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
  background-color: var(--blue-1);
}
.tx-table td, .tx-table th {
  border: 1px solid #808080;
  padding: .8rem;
}
.tx-table tr:nth-child(even){
  background-color: var(--white-1);
}
.time {
  text-align: center;
}
.hash {
  font-size: 1.25vw;
}
.link a{
  color: var(--blue-0);
}
.link a:hover{
  text-decoration: none;
  color: var(--blue-3);
}
tfoot td {
  background-color: var(--red-1);
  font-weight: bold;
}

@media (max-width: 480px) {
  .container {
    padding: 1rem 1rem;
  }
  .navbar {
    padding: 0;
  }
  .nav-menu {
    font-size: 2rem;
  }
  .nav-logo-item {
    width: 6rem;
    height: 6rem;
  }
  .nav-icons{
    gap: 1.2rem;
    padding-right: 1.4rem;
    padding-left: 1.4rem;
  }
  .nav-icons svg {
    width: 1.6rem;
    height: 1.6rem;
  }
  .excel {
    padding: 0 1rem;
  }
  .total {
    padding-top: 0;
    padding-bottom: 0;
  }
  .dark-mode-icon {
    width: 1.6rem;
    height: 1.6rem;
  }

}